<head>
<div class="title">
        <h1>{{ title }}</h1>
    </div>
  {% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
  {% endblock %}
</head>

<p class="big-text">{{text}}</p>

<a href="/" class="button">Volver</a>